<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMDisplay</title>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet"/>
    <link rel="icon" href="/static/icon.jpg?{% now "U" %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"/>
    <link rel="stylesheet" href="/static/styles.css?{% now "U" %}"/>
</head>
<body>
    <h1 style="font-size: 42px; margin-bottom: 0;">CURRENT STOCK TRENDS</h1>
    <div style="display: flex; align-items: center; justify-content: center;">
      <div class="grid" style="width: 100%;">
        {% for i in data %}
          <div class="card">
            <h1 class="stock-name">{{ i.0 }}</h1>
            <p class="stock-des">{{ i.1 }}</p>
            <h3 class="stock-price">Stock Price: ${{ i.2 }}</h3>

            {% if i.4 == "+" %}
                <h3 class="stock-gain" style="color:green;">Change: {{ i.3 }}</h3>
            {% elif i.4 == "-" %}
                <h3 class="stock-gain" style="color:red;">Change: {{ i.3 }}</h3>
            {% else %}
                <h3 class="stock-gain" style="color:blue;">Change: {{ i.3 }}</h3>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
</body>
